################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs/
/bin
/obj
/Properties
/bin/Debug/netcoreapp3.1/proxygen.Views.pdb
/bin/Debug/netcoreapp3.1/proxygen.Views.dll
/bin/Debug/netcoreapp3.1/proxygen.runtimeconfig.json
/bin/Debug/netcoreapp3.1/proxygen.runtimeconfig.dev.json
/bin/Debug/netcoreapp3.1/proxygen.pdb
/bin/Debug/netcoreapp3.1/proxygen.exe
/bin/Debug/netcoreapp3.1/proxygen.dll
/bin/Debug/netcoreapp3.1/proxygen.deps.json
/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/obj/proxygen.csproj.nuget.g.props
/obj/proxygen.csproj.nuget.dgspec.json
/obj/project.nuget.cache
/obj/project.assets.json
/obj/Debug/netcoreapp3.1/proxygen.Views.pdb
/obj/Debug/netcoreapp3.1/proxygen.Views.dll
/obj/Debug/netcoreapp3.1/proxygen.TagHelpers.output.cache
/obj/Debug/netcoreapp3.1/proxygen.pdb
/obj/Debug/netcoreapp3.1/proxygen.genruntimeconfig.cache
/obj/Debug/netcoreapp3.1/proxygen.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/proxygen.exe
/obj/Debug/netcoreapp3.1/proxygen.dll
/obj/Debug/netcoreapp3.1/proxygen.csprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1/proxygen.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/proxygen.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/proxygen.csproj.AssemblyReference.cache
/obj/Debug/netcoreapp3.1/proxygen.assets.cache
/obj/Debug/netcoreapp3.1/apphost.exe
/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/Proxies.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
/obj/Debug/netcoreapp3.1/staticwebassets/proxygen.StaticWebAssets.xml
/proxygen.csproj.user
