@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    This website creates playtest cards for use in the Magic: the Gathering trading card game. It is powered by the Scryfall API.
    This is a fan project that is unaffiliated with either Wizards of the Coast or the good people at Scryfall.
    If you have any issues, please create an issue on the project's <a href="https://www.github.com/lieronet/proxygen">Github</a>.
</p>

<h2>Known Issues</h2>
<p>Adventure cards aren't particularly well-supported</p>
<p>Split cards aren't currently supported</p>
<p>Color indicators are not supported yet - low priority</p>
