@page
@model proxygen.Pages.HowToModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This website creates proxies. Input the full English name of the cards you would like to print, one per line.
    Multiples are supported - "7 Seven Dwarves" will create seven copies of the card on the print screen.
    When you are finished building your list, click the Make! button, and the proxies will be generated.
    They have been optimized to print nine to a page in portrait orientation onto 8.5"x11" paper.
</p>
